{% extends "layouts/base.html.twig" %}

{% block title 'Inscription | eShop' %}

{% block content %}
    <h1 class="text-center mt-5 text-secondary bg-light rounded p-3">Inscription</h1>
    <br>

    {{ form(UserRegisterForm)}}

{% endblock %}
