{% extends "layouts/base.html.twig" %}

{% block title 'Inscription | eShop' %}

{% block content %}
    <h1 class="text-center my-3 mt-5 text-secondary">Inscription</h1>
    <br>

    {{ form(UserRegisterForm)}}

{% endblock %}
